.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  &__holder {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 100%;
    background-color: grey;
  }
}