.dialogs {
  display: flex;
  justify-content: space-between;
  &__holder {
    width: 40%;
  }
  &__messages {
    width: 60%;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__link {
      padding: 5px 10px;
    }
  }
}